* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.active {
    display: block;
}

.item {
    display: none;
}

.next, .prev {
    font-size: 35px;
    cursor: pointer;
}